header{
    position: fixed;
    left: 0;
    top: 12px;
    width: 100%;
    z-index: 999;
    transform: translateY(-150px);
    transition: 0.9s;
    opacity: 0;
}
.header-anime{
    transform: translateY(0);
    transition: 0.9s;
    opacity: 1;
}
.header-main{
    padding: 20px 24px;
    border-radius: 40px;
    background: #F8F6F5;
    position: relative;
    z-index: 999;

}
.logo{
    max-width: 87px;
    width: 100%;
}
.menu-content{
    width: 72%;
}
.menu-mobile{
    display: none;
}
.nav-menu ul{
    gap: 28px;
}

.nav-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    color: #301400CC;
    transition: 0.3s;
    position: relative;
}
.nav-menu a:hover, .nav-menu a:active{
    color: #0E0E0E;
}

.join-club{
    background: #FFFFFF;
    width: 187px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 28px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    color: #000000E5;
    border-radius: 40px;
    white-space: nowrap;
}
.join-club:hover{
    background: #9C816E;
    color: #FFFFFF;
}

.join-club-fon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9C816E;
    max-width: 34px;
    width: 100%;
    height: 34px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.3s;
}
.join-club:hover .join-club-fon{
    border: 1px solid #9C816E;
    background: #FFFFFF;
}
.join-club:hover .icon-telegram{
    background-color: #9C816E;
}

.open-menu{
    display: none;
}
.open-menu span{
    display: none;
    background: #301400CC;
    width: 24px;
    height: 2px;
    transition: 0.3s;
    border-radius: 5px;
    position: absolute;
}
.close-menu {
    display: none;
}

.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 16px;
    left: 5px;
}
.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    right: 5px;
}


.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transition: 0.3s;
    backdrop-filter: blur(6px);
    background: #00000066;

}



@media (max-width: 1020px) {
    .menu-content{
        display: none;
    }
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .body_fix .header-main{
        background: #FFFFFF;
    }
    .close-menu {
        display: block;
    }
    .close-menu img{
        display: none;
    }
    .close-menu span{
        display: block;
    }

    .open-menu{
        display: flex;
        width: 34px;
        height: 34px;
        position: relative;
        transition: 0.3s;
    }
    .menu-mobile {
        width: 100%;
        position: fixed;
        z-index: 991;
        top: -12px;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        background: #F8F6F5;
        border-radius: 0 0 20px 20px;
        display: block;
    }
    .menu-mobile-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 16px;
        gap: 40px;
    }
    .transition-menu {
        height: 422px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
    .header-main {
        padding: 13px 18px;
    }
    .logo {
        max-width: 63px;
    }
    .nav-menu a {
        font-size: 16px;
    }
    .nav-menu ul {
        gap: 20px;
    }


}

